<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         testdox="true">

    <logging>
        <log type="coverage-html"
             target="tests/unit/coverage"
             charset="UTF-8"
             highlight="false"
             lowUpperBound="35"
             highLowerBound="70" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
        </whitelist>
        <blacklist>
            <directory>vendor/</directory>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit/Sunlight</directory>
        </testsuite>
    </testsuites>
</phpunit>
